*~

# build targets
/target
/saxon.*.xml
/saxon.xml
/.classpath
/.project
/.settings
xspec
/dist

# output of transformation scenarios
*.dts-document.xml
*.dts-navigation.json

# wiki repo if stored in project directory
/wiki
/dts-transformations.wiki
